<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <script
      src="https://kit.fontawesome.com/b0eba033b1.js"
      crossorigin="anonymous"
    ></script>
    <title>Subscribe to ONE Championship Calendar</title>
  </head>
  <body>
    <header>
      <h1>ONE Championship Calendar</h1>
      <p>Subscribe to the unofficial calendar</p>
      <p>
        <img
          src="https://gitlab.richardsoper.me/richardsoper/onechampcalendar/badges/main/pipeline.svg?key_text=Calendar+Update+Job&key_width=130"
        />
      </p>
    </header>

    <main>
      <p>
        You can subscribe to the unofficial fight calendar using your method of
        choice
      </p>
      <center>
        <nav>
          <a href="/subscribe/apple">
            <center><i class="fa-brands fa-apple"></i></center>
            Apple/iCloud
          </a>
          <a href="/subscribe/google" target="_blank">
            <center><i class="fa-brands fa-google"></i></center>
            Google Calendar
          </a>
          <a href="/onefccalendar">
            <center><i class="fa-solid fa-download"></i></center>
            Direct download
          </a>
        </nav>
      </center>
    </main>

    <footer>
      <p>
        This is a free and open sourced project created by
        <a href="https://richardsoper.me" target="_blank">Richard Soper</a> for
        fun! Source code is available on my
        <a
          href="https://gitlab.richardsoper.me/richardsoper/onechampcalendar"
          target="_blank"
          >gitlab instance</a
        >. This project is not affiliated to ONE Championship directly.
      </p>
    </footer>
  </body>
</html>
