<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  <script src="https://kit.fontawesome.com/b0eba033b1.js" crossorigin="anonymous"></script>
  <title>Subscribe to UFC and ONE Championship Calendars</title>
</head>

<body>
  <header>
    <h1>MMA Calendars</h1>
    <p>Subscribe to the unofficial calendars of MMA organizations</p>
    <p>
      <img
        src="https://gitlab.richardsoper.me/richardsoper/mmacalendar/badges/main/pipeline.svg?key_text=Calendar+Update+Job&key_width=130" />
    </p>
  </header>

  <main>
    <section>
      <p>
        The data in these calendars are coming directly from
        the events page for the MMA organization linked below. There are no ads, data
        collection, or trackers embeded in the events.
        This is 100% free!
      </p>
    </section>
    <section>
      <details>
        <summary>Subscribe to ONE Championship calendar</summary>
        <p>Datasource: <a href="https://www.onefc.com/events" target="_blank">https://www.onefc.com/events</a></p>
        <center>
          <a class="button" href="/onefc/apple">
            <center><i class="fa-brands fa-apple"></i></center>
            Apple/iCloud
          </a>
          <a class="button" href="/onefc/google" target="_blank">
            <center><i class="fa-brands fa-google"></i></center>
            Google Calendar
          </a>
          <a class="button" href="/onefccalendar"
            title="One-time download will ONLY include the events scheduled at the time of download, it will not automatically refresh with new events.">
            <center><i class="fa-solid fa-download"></i></center>
            One-time download
          </a>
          <small>
            <p>Last updated: {{ last_updated_onefc }} PST</p>
          </small>
        </center>
      </details>
      <details>
        <summary>Subscribe to UFC calendar</summary>
        <p>Datasource: <a href="https://www.ufc.com/events" target="_blank">https://www.ufc.com/events</a></p>
        <center>
          <a class="button" href="/ufc/apple">
            <center><i class="fa-brands fa-apple"></i></center>
            Apple/iCloud
          </a>
          <a class="button" href="/ufc/google" target="_blank">
            <center><i class="fa-brands fa-google"></i></center>
            Google Calendar
          </a>
          <a class="button" href="/ufc"
            title="One-time download will ONLY include the events scheduled at the time of download, it will not automatically refresh with new events.">
            <center><i class="fa-solid fa-download"></i></center>
            One-time download
          </a>
          <small>
            <p>Last updated: {{ last_updated_ufc }} PST</p>
          </small>
        </center>
      </details>
    </section>

    <h4>Run your own server</h4>
    <p>
      The docker image is also available for anyone to download and run on
      their own server. Instructions are available on the
      <a href="https://gitlab.richardsoper.me/richardsoper/mmacalendar/-/wikis/Deploy-with-Docker"
        target="_blank">gitlab wiki</a>.
    </p>
  </main>

  <footer>
    <p>
      This is a free and open sourced project created by
      <a href="https://richardsoper.me" target="_blank">Richard Soper</a> for
      fun! Source code is available on my
      <a href="https://gitlab.richardsoper.me/richardsoper/mma-calendar" target="_blank">gitlab instance</a>. This
      project is not affiliated to ONE Championship directly.
    </p>
  </footer>
</body>

</html>